
# URL Configuration
URL_BIGTIME=

# Database Configuration
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

# Test Users
ADMIN_USERNAME=
ADMIN_PASSWORD=
EMPLOYEE_USERNAME=
EMPLOYEE_PASSWORD=
MANAGER_USERNAME=
MANAGER_PASSWORD=
